#
# DJANGO
#
DJANGO_SECRET_KEY=asdasd
DEBUG=true  # never on production, will cause settings including api keys to leak
DJANGO_LOG_LEVEL=DEBUG
DJANGO_DEBUG_TOOLBAR=true
DJANGO_ADMIN_URL=administration/

#
# POSTGRES
#
DATABASE_URL=psql://postgres:postgres@127.0.0.1:5432/postgres

#
# REDIS
#
# django cache
REDIS_URL="redis://127.0.0.1:6379/1"
REDIS_DJANGO_CACHE_DATABASE=5
REDIS_DJANGO_CACHE_URL=rediscache://127.0.0.1:6379:5?client_class=django_redis.client.DefaultClient

# celery configuration
REDIS_CELERY_RESULTS_DATABASE=6
REDIS_CELERY_RESULTS_URL=redis://127.0.0.1:6379/6
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/6
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
